<div class="row">
    <section class="container col-8">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="teacher in teachers | filter:query" ng-click="showAdd()">
                    <td>{{teacher.Id}}</td>
                    <td>{{teacher.Honorific}} {{teacher.FirstName}} {{teacher.LastName}} {{teacher.Suffix}}</td>
                    <td>{{teacher.Email}}</td>
                    <td><button class="glyphicon glyphicon-trash " ng-click="deleteTeacher($index)"></button></td>
                </tr>
            </tbody>
            <tfoot ng-show="!showAdd">
                <tr>
                    <td><span class="glyphicon glyphicon-plus" ng-click="clickAdd()"></span></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tfoot>        
        </table>
    </section>
</div>
<div class="row">
    <section class="container col-md-4">
        <div class="panel panel-default" ng-show="showAdd">
            <div class="panel-heading">Create New Teacher</div>
            <div class="panel-body">
                <form role="form">
                    <div class="form-group">
                        <label for="firstName">Honorific</label>
                        <input type="text" class="form-control" id="honorific" placeholder="Enter Honorific" ng-model="newTeacher.honorific">
                    </div>
                    <div class="form-group">
                        <label for="firstName">First Name</label>
                        <input type="text" class="form-control" id="firstName" placeholder="Enter First Name" ng-model="newTeacher.firstName">
                    </div>
                    <div class="form-group">
                        <label for="lastName">Last Name</label>
                        <input type="text" class="form-control" id="lastName" placeholder="Enter Last Name" ng-model="newTeacher.lastName">
                    </div>
                    <div class="form-group">
                        <label for="lastName">Suffix</label>
                        <input type="text" class="form-control" id="suffix" placeholder="Enter Suffix" ng-model="newTeacher.suffix">
                    </div>
                    <div class="form-group">
                        <label for="lastName">Email</label>
                        <input type="text" class="form-control" id="email" placeholder="Enter Email" ng-model="newTeacher.email">
                    </div>
                    <button ng-click="addTeacher()" class="btn btn-default">Submit</button>
                    <button ng-click="clickAdd()" class="btn btn-default">Cancel</button>
                </form>
            </div>
        </div>
    </section>
</div>
